* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1C0030;
  font-family: "SF Pro Display", sans-serif;
}

.plar {
  color: rgba(255, 255, 255, 0.52);
}

.head {
  height: 1138px;
  background-image: url(assets/img/bground.png);
  background-position: center;
  background-size: cover;
}
.head header {
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(28, 0, 48);
  padding: 46px 281px 24px 108px;
}
.head header .hover {
  display: flex;
  align-items: center;
  gap: 117px;
}
.head header .hover a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.head header .Logo {
  position: relative;
  z-index: 10;
}
.head header .Logo h1 {
  font-size: 46px;
  font-weight: 700;
  color: white;
  font-family: "Caveat", cursive;
}
.head header .Logo .logoimg {
  position: absolute;
  left: 14px;
  top: -13px;
  z-index: -1;
}
.head header .navigation {
  display: flex;
  gap: 24px;
  align-items: center;
}
.head header .navigation .borderImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(67, 3, 164);
  display: flex;
  align-items: center;
  justify-content: center;
}
.head footer {
  padding: 246px 0 0 97px;
  color: #fff;
}
.head footer h1 {
  font-size: 64px;
  font-weight: 700;
}
.head footer .paragrf {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}
.head footer .btn {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background: #3531A9;
  padding: 13px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head footer .btn span {
  font-size: 12px;
  font-weight: 500;
}
.head footer .btn p {
  font-size: 18px;
  font-weight: 700;
}

.plans {
  display: flex;
  height: 681px;
  align-items: center;
  gap: 108px;
  padding: 170px 276px 167px 276px;
}
.plans .plan {
  color: white;
  width: 275px;
  height: 344px;
  border-radius: 18px;
  background: linear-gradient(180deg, #3531A9 0%, #4303A4 100%);
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.plans .plan h3 {
  font-size: 30px;
  font-weight: 700;
}
.plans .plan span {
  font-size: 36px;
  font-weight: 700;
  margin-top: 34px;
}

.listen {
  height: 680px;
  display: flex;
}
.listen .left {
  width: 50%;
  gap: 22px;
  background: rgb(17, 2, 75);
  padding: 232px 97px;
  color: white;
}
.listen .left h2 {
  font-size: 48px;
  font-weight: 700;
}
.listen .left .p2 {
  margin: 11px 0 22px 0;
  max-width: 379px;
}
.listen .left button {
  width: 150px;
  color: white;
  height: 43px;
  background: rgb(53, 49, 169);
  border-radius: 5px;
  text-align: center;
  border: none;
  font-size: 18px;
  font-weight: 400;
}
.listen .right {
  width: 50%;
  background-image: url(assets/img/rightimg.png);
  background-position: center;
  background-size: cover;
}

.desktop {
  height: 1397px;
  padding: 113px 97px 170px 97px;
  text-align: center;
  color: white;
}
.desktop h2 {
  font-size: 48px;
  font-weight: 700;
}
.desktop .listenimg {
  margin: 66px 0 233px 0;
}
.desktop .container {
  display: flex;
  height: 382px;
  position: relative;
  gap: 87px;
  align-items: center;
}
.desktop .container .left {
  width: 50%;
  text-align: start;
}
.desktop .container .left p {
  max-width: 622px;
}
.desktop .container .right img {
  position: absolute;
}
.desktop .container .right .img1 {
  top: 0;
  right: 0;
}
.desktop .container .right .img2 {
  top: 84px;
  right: 460px;
}

footer {
  height: 465px;
}
footer .header {
  height: 100%;
  color: white;
  display: flex;
  background: rgb(17, 2, 75);
  padding: 139px 108px 0 108px;
  justify-content: space-around;
}
footer .header ul li {
  list-style: none;
  margin-bottom: 21px;
}
footer .header ul li:first-child {
  color: rgb(53, 49, 169);
}
footer .header .navlinks {
  display: flex;
  gap: 83px;
}
footer .header .LogoFoot {
  position: relative;
  z-index: 10;
}
footer .header .LogoFoot .logoimg {
  position: absolute;
  top: 0;
  left: 33px;
  z-index: -1;
}
footer .header .LogoFoot h1 {
  font-family: "Caveat", cursive;
  font-size: 56px;
}
footer .header .uselinks {
  display: flex;
  gap: 67px;
}
footer .foot {
  background: #000;
}/*# sourceMappingURL=style.css.map */